[Unit]
Description=Koji external repository monitoring
After=network.target

[Service]
ExecStart=/usr/bin/regen-repos
Type=simple
User=repomgr

[Install]
WantedBy=multi-user.target
