[Unit]
Description=Mash Koji builds into usable package repositories
After=network.target

[Service]
ExecStart=/usr/bin/smashd
Type=simple
User=repomgr

[Install]
WantedBy=multi-user.target
